example-app/component1/src/main/app/component1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<spring:beans>
		<spring:import resource="classpath:co/elastic/apm/mule/tracer.xml" />
	</spring:beans>
	<http:listener-config name="HTTP_Listener_Configuration"
		host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration" />
	<http:request-config name="HTTP_Request_Configuration"
		host="${component2}" port="8282" doc:name="HTTP Request Configuration" />
	<http:request-config name="HTTP_Request_Configuration1"
		host="${component2}" port="8283" doc:name="HTTP Request Configuration" />
	<http:request-config name="HTTP_Request_Configuration2"
		host="${component2}" port="8284" doc:name="HTTP Request Configuration" />
	<http:request-config name="HTTP_Request_Configuration3"
		host="${component2}" port="8285" doc:name="HTTP Request Configuration" />
	<flow name="component1Flow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="/" allowedMethods="GET" parseRequest="false" doc:name="HTTP">
			<http:response-builder statusCode="200"
				reasonPhrase="Ok" />
		</http:listener>
		<logger message="Starting component1" level="INFO" doc:name="Logger" />
		<http:request config-ref="HTTP_Request_Configuration"
			path="/" method="GET" doc:name="HTTP1" />
		<set-payload value="#[{1,1}]" doc:name="Set Payload" />
		<scatter-gather doc:name="Scatter-Gather">
			<processor-chain>
				<logger message="Starting component1 branch1" level="INFO"
					doc:name="Logger" />
				<http:request config-ref="HTTP_Request_Configuration1"
					path="/" method="GET" doc:name="HTTP2a" />
				<logger message="Finishing component1 branch1" level="INFO"
					doc:name="Logger" />
			</processor-chain>
			<processor-chain>
				<logger message="Starting component1 branch2" level="INFO"
					doc:name="Logger" />
				<http:request config-ref="HTTP_Request_Configuration2"
					path="/" method="GET" doc:name="HTTP2b" />
				<logger message="Finishing component1 branch2" level="INFO"
					doc:name="Logger" />
			</processor-chain>
		</scatter-gather>
        <logger message="About to finish component1" level="INFO" doc:name="Logger"/>
		<http:request config-ref="HTTP_Request_Configuration3"
			path="/" method="GET" doc:name="HTTP3" />
		<set-payload value="success" doc:name="Set Payload" />
		<logger message="Finishing component1" level="INFO" doc:name="Logger" />
	</flow>
</mule>
